.ag-quick-insert {
  width: 324px;
  max-height: 307px;
  padding: 0 0 20px 0;
  overflow-y: auto;
}

.ag-quick-insert .title {
  color: var(--muya-editor-color);
  line-height: 120%;
  font-size: 14px;
  padding: 10px 14px 10px 14px;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: sticky;
  top: 0;
  background: var(--muya-float-bg-color);
  z-index: 1001;
}

.ag-quick-insert .item {
  display: flex;
  flex-direction: row;
  padding: 6px 0;
  cursor: pointer;
  user-select: none;
}

.ag-quick-insert:hover .active {
  background: transparent;
}
.ag-quick-insert .active,
.ag-quick-insert div.item:hover {
  background-color: var(--muya-float-hover-color);
}

.ag-quick-insert .no-result {
  margin-top: 20px;
  padding: 0 20px;
  font-size: 14px;
  text-align: center;
  color: var(--muya-theme-color);
}

.ag-quick-insert .icon-container {
  width: 40px;
  height: 40px;
  border: 1px solid var(--muya-float-border-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  margin-left: 14px;
}

.ag-quick-insert .icon-container > i.icon {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  overflow: hidden;
  color: var(--muya-icon-color);
  opacity: 0.5;
  transition: all 0.25s ease-in-out;
}

.ag-quick-insert .icon-container > i.icon > i[class^='icon-'] {
  display: inline-block;
  width: 100%;
  height: 100%;
  filter: drop-shadow(20px 0 currentColor);
  position: relative;
  left: -20px;
}

.ag-quick-insert .description {
  margin-left: 8px;
  flex: 1;
}

.ag-quick-insert .short-cut {
  width: 40px;
  margin-right: 20px;
  flex-shrink: 1;
  text-align: right;
  color: var(--muya-editor-color-50);
  font-size: 14px;
  letter-spacing: 1px;
}

.ag-quick-insert .big-title {
  font-size: 14px;
  color: var(--muya-editor-color);
}

.ag-quick-insert .sub-title {
  font-size: 12px;
  color: var(--muya-editor-color-50);
}

.ag-quick-insert .hide {
  display: none;
}
