.ag-float-wrapper {
  position: absolute;
  font-size: 12px;
  opacity: 0;
  width: 110px;
  height: auto;
  top: -1000px;
  right: -1000px;
  border-radius: 8px;
  box-shadow: var(--muya-float-shadow);
  background-color: var(--muya-float-bg-color);
  transition: opacity 0.25s ease-in-out;
  transform-origin: top;
  box-sizing: border-box;
  z-index: 10000;
  overflow: hidden;
}

.ag-float-container::-webkit-scrollbar:vertical {
  width: 0px;
}

[x-placement] {
  opacity: 1;
}

.ag-popper-arrow {
  width: 16px;
  height: 16px;
  background: inherit;
  border: 1px solid #ebeef5;
  display: inline-block;
  position: absolute;
  transform: rotate(45deg);
}

[x-placement='bottom-start'] > .ag-popper-arrow {
  border-right: none;
  border-bottom: none;
  top: -9px;
}

[x-placement='top-start'] > .ag-popper-arrow {
  border-left: none;
  border-top: none;
  bottom: -9px;
}

[x-out-of-boundaries] {
  display: none;
}
