.ag-tooltip {
  transition: opacity 0.2s ease-in;
  position: absolute;
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 5px;
  background: var(--muya-float-bg-color);
  color: var(--muya-editor-color);
  box-shadow: 0 4px 8px 0 var(--muya-float-border-color);
  border: 1px solid var(--muya-float-border-color);
  box-sizing: border-box;
  z-index: 1000;
  opacity: 0;
}

.ag-tooltip.active {
  opacity: 1;
  transform: translateY(-5px);
}

.ag-tooltip:after {
  top: -2px;
  left: 50%;
  content: '';
  background: inherit;
  border: 1px solid var(--muya-float-border-color);
  border-right: none;
  border-bottom: none;
  width: 8px;
  height: 8px;
  position: absolute;
  display: block;
  transform: rotate(45deg) translateX(-50%);
}
