/** js sequence diagrams
 *  https://bramp.github.io/js-sequence-diagrams/
 *  (c) 2012-2017 Andrew Brampton (bramp.net)
 *  Simplified BSD license.
 */
@font-face {
  font-family: 'danielbd';
  src: url('danielbd.woff2') format('woff2'), url('danielbd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
