.ag-format-picker {
  height: 30px;
  width: 265px;
}

.ag-format-picker ul,
.ag-format-picker li {
  margin: 0;
  padding: 0;
}

.ag-format-picker ul {
  padding: 0 7px;
  display: flex;
}

.ag-format-picker li.item {
  position: relative;
  list-style: none;
  width: 35px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.ag-format-picker li.item:hover {
  background: var(--muya-float-hover-color);
}

.ag-format-picker li.item:last-of-type {
  margin-left: 6px;
}

.ag-format-picker li.item:last-of-type:before {
  content: '';
  width: 2px;
  position: absolute;
  height: 18px;
  background: var(--muya-editor-color-10);
  left: -4px;
  top: 6px;
}

.ag-format-picker li.item .icon-wrapper {
  width: 18px;
  height: 18px;
}

.ag-format-picker li.item .icon-wrapper i.icon {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: var(--muya-icon-color);
  transition: all 0.25s ease-in-out;
}

.ag-format-picker li.item .icon-wrapper i.icon > i[class^='icon-'] {
  display: inline-block;
  width: 100%;
  height: 100%;
  filter: drop-shadow(18px 0 currentColor);
  position: relative;
  left: -18px;
}

.ag-format-picker li.item.active .icon-wrapper i.icon {
  color: var(--muya-theme-color);
}
