.ag-table-picker {
  box-sizing: border-box;
  font-size: 12px;
  width: 153px;
  padding: 10px;
}

.ag-table-picker .checker {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.ag-table-picker-row {
  display: flex;
}
.ag-table-picker-cell {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  margin-right: 1px;
  margin-bottom: 1px;
  border: 1px solid var(--muya-editor-color-10);
  cursor: pointer;
}
.ag-table-picker-header span {
  background: var(--muya-editor-color-10);
}
.ag-table-picker-cell.current {
  background: var(--muya-editor-color-30);
}
.ag-table-picker-header .current {
  background: var(--muya-editor-color-50);
}
.ag-table-picker-cell.selected {
  background: var(--muya-selection-color);
}
.ag-table-picker-header .selected {
  background: var(--muya-selection-color);
}
.ag-table-picker-cell:last-of-type {
  margin-right: 0;
}
.ag-table-picker .footer {
  padding: 10px 0 0 0;
  border-top: 1px solid var(--muya-float-border-color);
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: var(--muya-editor-color);
}
.ag-table-picker .footer input {
  color: var(--muya-editor-color);
  background: var(--muya-float-border-color);
  outline: none;
  border-radius: 3px;
  text-align: center;
  border: none;
  box-sizing: border-box;
  padding: 0;
  height: 20px;
  width: 30px;
  border: none;
}
.ag-table-picker .footer button {
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  line-height: 20px;
  border: none;
  height: 20px;
  background: var(--muya-theme-color);
  color: #fff;
}
