<template>
  <div id="muya-container">
    <div ref="editor"></div>
  </div>
</template>

<script>
import Vue from 'vue';

import Muya from '../muya/lib';
import TablePicker from '../muya/lib/ui/tablePicker';
import QuickInsert from '../muya/lib/ui/quickInsert';
import CodePicker from '../muya/lib/ui/codePicker';
import EmojiPicker from '../muya/lib/ui/emojiPicker';
import ImagePathPicker from '../muya/lib/ui/imagePicker';
import ImageSelector from '../muya/lib/ui/imageSelector';
import FormatPicker from '../muya/lib/ui/formatPicker';
import FrontMenu from '../muya/lib/ui/frontMenu';

export default Vue.extend({
  name: 'MuyaEditor',
  created() {
    this.$nextTick(() => {
      const ele = this.$refs.editor;

      Muya.use(TablePicker);
      Muya.use(QuickInsert);
      Muya.use(CodePicker);
      Muya.use(EmojiPicker);
      Muya.use(ImagePathPicker);
      Muya.use(ImageSelector);
      Muya.use(FormatPicker);
      Muya.use(FrontMenu);

      this.editor = new Muya(ele, {
        markdown: 'Welcome to use muya...',
        // imagePathPicker: () => 'https://i.picsum.photos/id/836/200/300.jpg',
      });
      this.editor.on('change', changes => {
        console.log(changes);
      });
    });
  },
});
</script>

<style lang="scss" src="../muya/themes/default.scss"></style>
<style lang="scss">
:root {
  --muya-title-bar-height: 32px;
  --muya-editor-area-width: 750px;

  --muya-theme-color: rgba(33, 181, 111, 1);
  --muya-theme-color-90: rgba(33, 181, 111, 0.9);
  --muya-theme-color-80: rgba(33, 181, 111, 0.8);
  --muya-theme-color-70: rgba(33, 181, 111, 0.7);
  --muya-theme-color-60: rgba(33, 181, 111, 0.6);
  --muya-theme-color-50: rgba(33, 181, 111, 0.5);
  --muya-theme-color-40: rgba(33, 181, 111, 0.4);
  --muya-theme-color-30: rgba(33, 181, 111, 0.3);
  --muya-theme-color-20: rgba(33, 181, 111, 0.2);
  --muya-theme-color-10: rgba(33, 181, 111, 0.1);

  --muya-highlight-color: rgba(33, 181, 111, 0.4);
  --muya-selection-color: rgba(0, 0, 0, 0.1);
  --muya-editor-color: rgba(0, 0, 0, 0.7);
  --muya-editor-color-80: rgba(0, 0, 0, 0.8);
  --muya-editor-color-60: rgba(0, 0, 0, 0.6);
  --muya-editor-color-50: rgba(0, 0, 0, 0.5);
  --muya-editor-color-40: rgba(0, 0, 0, 0.4);
  --muya-editor-color-30: rgba(0, 0, 0, 0.3);
  --muya-editor-color-10: rgba(0, 0, 0, 0.1);
  --muya-editor-color-04: rgba(0, 0, 0, 0.03);

  --muya-editor-bg-color: rgba(255, 255, 255, 1);
  --muya-delete-color: #ff6969;
  --muya-icon-color: #6b737b;
  --muya-code-bg-color: #d8d8d869;
  --muya-code-block-bg-color: rgba(0, 0, 0, 0.03);
  --muya-input-bg-color: rgba(0, 0, 0, 0.06);
  --muya-button-bg-color: #ffffff;
  --muya-button-border-color: rgba(0, 0, 0, 0.2);
  --muya-button-shadow: rgba(0, 0, 0, 0.12);
  --muya-button-hover: #f2f2f2;
  --muya-button-active: #e5e5e5;

  /*marktext*/
  --muya-sidebar-color: rgba(0, 0, 0, 0.6);
  --muya-sidebar-title-color: rgba(0, 0, 0, 1);
  --muya-sidebar-text-color: rgba(0, 0, 0, 0.4);
  --muya-sidebar-bg-color: rgba(242, 242, 242, 0.9);
  --muya-sidebar-item-hover-bg-color: rgba(0, 0, 0, 0.03);
  --muya-item-bg-color: rgba(255, 255, 255, 0.6);
  --muya-float-bg-color: #fff;
  --muya-float-hover-color: rgba(0, 0, 0, 0.04);
  --muya-float-border-color: rgba(0, 0, 0, 0.1);
  --muya-float-shadow: rgba(15, 15, 15, 0.03) 0px 0px 0px 1px, rgba(15, 15, 15, 0.04) 0px 3px 6px,
    rgba(15, 15, 15, 0.05) 0px 9px 24px;
  --muya-mask-color: rgba(255, 255, 255, 0.7);
  --muya-table-border-color: rgba(0, 0, 0, 1);
}
</style>
