.ag-emoji-picker {
  width: 348px;
  max-height: 350px;
  overflow-y: auto;
}

.ag-emoji-picker .title {
  color: var(--muya-editor-color-80);
  line-height: 1.15;
  font-size: 12px;
  padding: 10px 12px 12px 12px;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  position: sticky;
  top: 0;
  background: var(--muya-item-bg-color);
  z-index: 1001;
}

.ag-emoji-picker section .emoji-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 12px;
}

.ag-emoji-picker section .emoji-wrapper .item {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50%;
}

.ag-emoji-picker:hover .active {
  background: transparent;
  border-color: transparent;
}

.ag-emoji-picker .active,
.ag-emoji-picker .item:hover {
  background-color: var(--muya-float-hover-color);
}

.ag-emoji-picker section .emoji-wrapper .item span {
  width: 24px;
  height: 24px;
  display: block;
  font-size: 24px;
  text-align: center;
  line-height: 1.15;
  color: #000;
  transition: transform 0.2s ease-in;
  transform-origin: center;
}
