.ag-front-menu {
  width: 220px;
  font-size: 14px;
}
.ag-front-menu ul,
.ag-front-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ag-front-menu > ul {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.ag-front-menu > ul li {
  display: flex;
  flex-direction: row;
  height: 36px;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.ag-front-menu > ul li:hover {
  background: var(--muya-float-hover-color);
}

.ag-front-menu li.item .icon-wrapper {
  margin-left: 12px;
  margin-right: 9px;
  width: 20px;
  height: 20px;
  color: var(--muya-icon-color);
  opacity: 0.5;
}

.ag-front-menu li.item .icon-wrapper i.icon {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  overflow: hidden;
  color: var(--muya-icon-color);
  transition: all 0.25s ease-in-out;
}

.ag-front-menu li.item .icon-wrapper i.icon > i[class^='icon-'] {
  display: inline-block;
  width: 100%;
  height: 100%;
  filter: drop-shadow(20px 0 currentColor);
  position: relative;
  left: -20px;
}

.ag-front-menu > ul li > span {
  display: inline-block;
  flex: 1;
  color: var(--muya-editor-color-50);
}

.ag-front-menu ul > li.delete > span {
  color: var(--muya-delete-color);
}

.ag-front-menu > ul li > .short-cut {
  color: var(--muya-editor-color-30);
  margin-right: 12px;
}

.ag-front-menu .submenu {
  width: 220px;
  max-height: 400px;
  position: absolute;
  left: calc(100% + 5px);
  top: -46px;
  border-radius: 8px;
  box-shadow: var(--muya-float-shadow);
  border: 1px solid var(--muya-float-border-color);
  background-color: var(--muya-float-bg-color);
  transition: all 0.25s ease-in-out;
  transform-origin: left;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  opacity: 0;
  transform: scale(0);
}

.ag-front-menu .submenu.align-bottom {
  top: unset;
  bottom: -82px;
}

.ag-front-menu li.turnInto > .short-cut {
  width: 40px;
  height: 20px;
  position: relative;
}

.ag-front-menu li.turnInto > .short-cut::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 5px solid var(--muya-editor-color-30);
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 5px;
  right: 0px;
}

.ag-front-menu ul li.item.disabled {
  cursor: not-allowed;
  color: var(--muya-editor-color-30);
}

.ag-front-menu ul li.item.active > span,
.ag-front-menu ul li.item.active > .short-cut > span {
  color: var(--muya-theme-color);
}

.ag-front-menu ul li.item.active > .icon-wrapper i.icon {
  color: var(--muya-theme-color);
  opacity: 1;
}

.ag-front-menu li.turnInto > .short-cut > span {
  display: inline-block;
  width: 20px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 50px;
}

.ag-front-menu li.turnInto:hover .submenu {
  opacity: 1;
  transform: scale(1);
}

.ag-front-menu .submenu ul {
  padding: 10px 0;
}

.ag-front-menu .submenu::-webkit-scrollbar:vertical {
  width: 0px;
}
